<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="src/card/card.less" />
    <title>-新年贺卡-你的泰富</title>
</head>
<body>
    
    
<!---share img -->
<div>
    <img width="300" height="300" id="shareImg"  style="position: absolute; top: -10000px;" src="" alt="TIDFORE">
</div>


<!---shareinfo-->
<div style="display:none;">
    <div id="share-image"></div>
    <div id="share-desc"></div>
    <div id="share-title"></div>
</div>

<div id="floor" class="pt-wrapper" >
    <div class="pt-page" style="visibility:visible;-webkit-touch-callout:none;overflow:hidden;
        "></div>
</div>

<section id="body">
    <header class="nav">
        <h2 class="logo"><a href="#/"><img src="src/img/logo.png" alt="TIDFORE"></a></h2>
    </header>
    <main class="main">
        <div id="wrapper" class="pt-wrapper" >
        </div>
        <div id="loading" class="pt-wrapper">
            <b class="progress">正在加载：0%</b>
        </div>
    </main>
</section>

<div id="share" class="pt-wrapper">
        <b class="title">分享朋友圈↑↑</b>
    <b class="msg"></b>
</div>

<!---audio-->
<div class="icon-audio border-anim" id="btn-audio">
  <span class="iconaudio1"><s class="icon-audio-anim"></s></span>
  <span class="iconaudio2"><s class="icon-audio-anim"></s></span>
  <span class="iconaudio3"><s class="icon-audio-anim"></s></span>
 </div>
<!---page-->

<script id="pages" type="text/html">
   <!--All Pages-->
<page id="page-166" class="pt-page  "  style="">
  <div class="blessing layer" data-depth="0.3">
      <p class="blessing-to"><span><img src="src/img/card/to_txt.png"></span>亲爱的员工</p>
      <p class="blessing-to">祝福语祝福语祝福语祝福语祝福语祝福语祝福语祝福语祝福语祝福。</p>
      <div class="main-pic">
          <img src="src/img/card/card_pic1.jpg">
      </div>
      <p class="blessing-from"><span><img src="src/img/card/from_txt.png"></span>你的泰富</p>
  </div>
  </main>
</page>
<page id="page-169" class="pt-page  "  style="">
    <div class="layer" data-depth="0.4">
        <div class="propaganda-pic"><img src="src/img/card/propaganda_bg.png"></div>
        <div class="propaganda-wx"><a target="_blank" href="#"><img src="src/img/card/propaganda_wx.jpg"></a></div>
        <div class="propaganda-bottom"></div>
    </div>
</page>

<page id="page-168" class="pt-page  "  style="">
    
    <div class="tip">无法上传照片的小伙伴可以在QQ或UC浏览器中打开使用</div>
</page>
</script>
<script type="text/html" id="upload-content">
<section id="image-upload">
    <form class="form" onsubmit="return false;">
        <div id="upload-container">
            <div class="round-frame btn-upload">
                <div class="hold-r hold-round1">
                    <div class="round round1"></div>
                </div>
                <div class="hold-r hold-round2">
                    <div class="round round2"></div>
                </div>
                <div class="round-bg"></div>
                <div class="round-time"><h3 class="text">选择照片</h3>{{if shareCount>200}}<h4>已有{{shareCount}}人参与</h4>{{/if}}</div>
            </div>
            <div class="gala">
                <p>上传您准备好的照片，给Ta一个意外惊喜吧！</p>
                <ul class="gala-txt">
                    <li class="part1"><input name="to" data-text="小伙伴" class="to-txt text-edit" type="text" maxlength="8"></li>
                    <li class="part2">
                        <textarea class="bg-txt text-edit" data-text="新年快乐！" name="message" maxlength="30" placeholder="请输入您要对Ta说的话，仅限30个字符..."></textarea>
                    </li>
                    <li class="part3"><img src="src/img/card/from_txt.png"><input name="from" data-text="泰富" class="from-txt text-edit" type="text" maxlength="8" value="{{from}}"></li>
                </ul>
                <input type="submit" class="mark-card-btn" value="生成新年贺卡">
            </div>
        </div>

        <div class="upload-scale">
            <div class="zone" id="scale-zone">
                <img id="image-scale" class="image-scale"/>
                {{if frameFileName!=""}}<img src="{{frameFileName}}" class="image-mask"/>{{/if}}
                <div>移动或双指缩放图片</div>
            </div>
            <a class="large button green btn-scale">确定</a>
        </div> 

        <input type="hidden" name="transform" class="transform">
        <input type="hidden" name="photo-filename" class="photo-filename">
        <input type="file" name="image" style="opacity:0" id="file-to-upload">
    </form>
</section>
</script>

<!--pc-->
<div id="pc-board">
    <div class="qrcode"><div></div>扫一扫在手机上打开</div>
    <div class="pager"><a href="#" id="btnNext">下一页</a></div>
</div>
<!--copyright-->
<a id="copyright" href="http://www.xxcb.cn">技术支持：XXCB</a>
<!-- arrow -->
<div id="arrows">
    <img class="arrow-down" src="src/img/arrow-down.png" alt="向下翻页">
    <div class="u-arrow-down"><p class="icon-arrow"></p></div>
    <div class="u-arrow-left"><p class="icon-arrow"></p></div>
</div>

<!---bg audio-->
<div style="height:0px;overflow:hidden;"><audio id="bgAudio" src="src/img/card/music.mp3" loop="loop" preload="true" autoplay="autoplay"></audio></div>

<script>
var URL_GET_CARD = '';
var URL_POST_CARD = '';
var BG_DEFAULT = 'src/img/card/card_pic1.jpg';
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/modernizr/modernizr.min.js"></script>

<script src="src/card/swipe.js"></script>
<script src="src/card/tpl.js"></script>
<script src="src/card/poster.js"></script>
<script src="src/card/PageTransition.js"></script>

<script src="src/card/Parallax.js"></script>

<script src="src/card/app.js"></script>

<script>
var page166Inited = false;
var page169Inited = false;
</script>
 
    </body>
</html>
