@import 'mixin';

@-webkit-keyframes pop {
    from { 
        .transform(translate(0, 0));
        opacity: 1;
    }
    to {  
        .transform(translate(0, -100%));
        opacity: 0;
    }
}
@-o-keyframes pop {
    from { 
        .transform(translate(0, 0));
        opacity: 1;
    }
    to {  
        .transform(translate(0, -100%));
        opacity: 0;
    }
}
@-moz-keyframes pop {
    from { 
        .transform(translate(0, 0));
        opacity: 1;
    }
    to {  
        .transform(translate(0, -100%));
        opacity: 0;
    }
}
@keyframes pop {
    from { 
        .transform(translate(0, 0));
        opacity: 1;
    }
    to {  
        .transform(translate(0, -100%));
        opacity: 0;
    }
}

@-webkit-keyframes shake {
    0% {
        .transform(rotate(-10deg));
    }
    50% {
        .transform(rotate(10deg));
    }
    98% {
        .transform(rotate(-10deg));
    }
}
@-o-keyframes shake {
    0% {
        .transform(rotate(-10deg));
    }
    50% {
        .transform(rotate(10deg));
    }
    98% {
        .transform(rotate(-10deg));
    }
}
@-moz-keyframes shake {
    0% {
        .transform(rotate(-10deg));
    }
    50% {
        .transform(rotate(10deg));
    }
    98% {
        .transform(rotate(-10deg));
    }
}
@keyframes shake {
    0% {
        .transform(rotate(-10deg));
    }
    50% {
        .transform(rotate(10deg));
    }
    98% {
        .transform(rotate(-10deg));
    }
}